@import '~Root/styles/mixins';

:local(.container) {
  padding: 100px;

  .title {
    font-size: 48px;
    letter-spacing: 2px;
    margin: 0;
  }

  .details {
    font-size: 18px;
    color: #999999;
    letter-spacing: 1.8px;
    margin-bottom: 50px;
  }

  .button {
    border-radius: 10px;
    border: 2px solid #67b68c;
    background-color: #67b68c;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    color: white;
    padding: 20px 70px;
    margin-bottom: 50px;
  }

  .notMember {
    span {
      color: #999999;
      letter-spacing: 1.8px;
      font-size: 18px;
    }

    a {
      text-decoration: none;
      margin-left: 10px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1.8px;
      color: black;
    }
  }
}

:local(.warning) {
  position: absolute;
  top: 0;
  right: 0;
  width: 670px + 430px;
  border-radius: 16px 16px 0 0;
  background-color: #ff6e6e;
  padding: 20px 75px;
  box-sizing: border-box;
  .inARow();
  justify-content: flex-start;
  color: white;
  font-size: 14px;
  display: none;

  .title {
    font-weight: bold;
  }

  &:local(.active) {
    display: block;
  }
}
