.load__icon {
  animation: linear load 2s infinite;
  width: 32px;
  height: 32px;
}

.load {
  height: calc(100vh - 16px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.load p {
  padding-top: 50px;
  font-family: arial;
  font-size: 1.3em;
}

@keyframes load {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}

body {
  background-color: #faf8f1;
}
