@import '~Root/styles/mixins';

:local(.aboutPic) {
  text-align: center;

  img {
    width: 970px;
    height: 485px;
  }
}

:local(.title) {
  text-align: center;
  color: #000000;
  font-size: 36px;
  letter-spacing: 1.8px;
}

:local(.container) {
  .inARow();
  align-items: flex-start;

  > .left {
    width: 810px;
    margin-right: 75px;

    > .text {
      color: #707070;
      font-size: 16px;
      line-height: 28px;
    }

    > .title {
      font-size: 28px;
      letter-spacing: 1.4px;
    }

    .link {
      text-decoration: none;
      color: #67b68c;
    }
  }

  > .right {
    width: 480px;
  }
}
