@import '~Root/styles/mixins';

:local(.aboutPic) {
  text-align: center;

  img {
    width: 970px;
    height: 485px;
  }
}

:local(.container) {
  > .title {
    text-align: center;
    color: #000000;
    font-size: 36px;
    letter-spacing: 1.8px;
  }

  > .content {
    .inARow();

    > .left {
      width: 810px;
      margin-right: 20px;
    }

    > .right {
      width: 480px;
    }
  }
}
