:local(.container) {
  text-align: center;

  img {
    margin-bottom: 48px;
  }

  .title {
    font-size: 48px;
    letter-spacing: 2.4px;
    line-height: 54px;
    margin: 0;
  }

  .desc {
    color: #999999;
    font-size: 28px;
    letter-spacing: 2.8px;
    line-height: 81px;
    margin: 0;
    margin-bottom: 40px;
  }

  a {
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #67b68c;
    background-color: #67b68c;
    padding: 15px 25px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1.7px;
    line-height: 77px;
  }
}
