@import '~Root/styles/mixins';

:local(.illustrate) {
  height: 500px;
  width: 1088px;
  border: 1px solid #707070;
  background-color: white;
  margin: auto;
  margin-bottom: 100px;
  .inARow();
}

:local(.socials) {
  position: absolute;
  left: 250px;
  top: 0;
  display: flex;
  flex-direction: column;

  > * {
    margin: 10px 0;
  }
}

:local(.section) {
  width: 812px;
  margin: 30px auto;
  margin-bottom: 75px;

  .title {
    font-size: 36px;
    line-height: 54px;
    margin: 0;
  }

  .content {
    color: #707070;
    line-height: 42px;
    font-size: 24px;
  }
}

:local(.ourTeam) {
  background-image: url('./background.png');
  height: 1361px;
  margin: auto;
  margin-bottom: 100px;

  .title {
    .inARow();
    padding-top: 75px;
    font-size: 48px;

    img {
      margin: 0 30px;
    }
  }

  .row {
    .inARow();
    margin: 85px 0;

    .card {
      width: 260px;
      height: 260px;
      box-sizing: border-box;
      text-align: center;
      margin: 0 85px;

      img {
        margin-top: 25px;
      }

      .name {
        font-size: 18px;
        font-weight: bold;
        color: #707070;
        letter-spacing: 1.8px;
        margin: 0;
      }

      .role {
        font-size: 14px;
        color: #67b68c;
      }
    }
  }
}

:local(.cards) {
  margin: 100px auto;
  margin-bottom: 250px;

  > div {
    .inARow();
    margin: 15px 0;

    p {
      .inARow();
      border-radius: 16px;
      margin: 0 7px;
      background-color: #67b68c;
      width: 260px;
      height: 260px;
      font-size: 24px;
      font-weight: bold;
      color: white;
    }
  }
}
