@import '~Root/styles/mixins';

:local(.table) {
  width: 100%;
  border-collapse: collapse;
  display: block;
  overflow-y: auto;

  th {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    color: #999999;
  }


  tbody {
    tr {
      border-bottom: 1px solid #999999;

      &:last-child {
        border: 0;
      }
    }

    td {
      width: 100%;
      padding: 35px 40px;
    }
  }
}
