@import '~Root/styles/mixins';

:local(.table) {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto;

  th {
    font-weight: normal;
    font-size: 18px;
    color: #999999;
    text-align: left;
  }

  tbody {
    tr {
      border-bottom: 1px solid #999999;

      &:last-child {
        border: 0;
      }

      td {
        text-align: left;
      }
    }
  }
}
