@import '~Root/styles/mixins';

.whiteButton() {
  text-decoration: none;
  color: #3e6c54;
  font-size: 17px;
  padding: 25px 45px;
  background-color: #ffffff;
  border: 2px solid #67b68c;
  border-radius: 10px;
  height: 70px;
  box-sizing: border-box;
}

:local(.topPadding) {
  padding-top: 200px;
}

:local(.tellingStory) {
  background-image: url('@@CDN@@/home.png');
  height: 725px;
  margin: 0 auto;
  width: 1600px;

  .head {
    color: #1f1c1c;
    width: 880px;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .info {
    width: 880px;
    line-height: 42px;
    font-size: 28px;
    color: #707070;
  }

  .buttons {
    margin-top: 45px;
    .inARow();
    justify-content: flex-start;

    > * {
      margin-right: 50px;
    }

    a {
      text-decoration: none;
    }

    .goToPlanet {
      box-shadow: 0 13px 32px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      background-color: #67b68c;
      color: #ffffff;
      height: 80px;
      box-sizing: border-box;
      .inARow();
      padding: 0 30px;
    }

    .counter {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
      border: 2px solid #dfdfdf;
      border-radius: 8px;
      height: 80px;
      box-sizing: border-box;
      .inARow();
      flex-direction: column;
      padding: 0 30px;

      p {
        margin: 0;
      }

      .count {
        color: #2dd393;
        font-size: 28px;
        font-weight: bold;
      }

      .details {
        font-size: 12px;
        color: #a8a8a8;
      }
    }
  }
}


:local(.divider) {
  width: 1121px;
  height: 0;
  border: 1px solid #707070;
  margin: 100px auto;
}

:local(.treejernutshell) {
  .head {
    text-align: center;
    font-size: 50px;
    margin-bottom: 150px;
  }

  .threethere {
    .inARow();

    > * {
      margin: 0 35px;
    }

    .content {
      width: 390px;
      text-align: center;

      .title {
        font-size: 32px;
        font-weight: bold;
      }

      .details {
        color: #a8a8a8;
        font-size: 22px;
      }

      .link {
        color: #2dd393;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
      }
    }
  }

  .verticalDivider {
    height: 450px;
    width: 0;
    border: 1px solid #707070;
  }


  .treejerContainer {
    .inARow();
    margin-top: 75px;

    .treejer {
      .whiteButton();
    }
  }
}


:local(.planterwithout) {

  > .title {
    text-align: center;
    font-size: 50px;
  }

  > .info {
    color: #707070;
    font-size: 24px;
    text-align: center;
  }

  > .earth {
    background-image: url('@@CDN@@/earth.png');
    height: 827px;
    width: 1365px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;

    .location {
      position: absolute;
      text-align: center;

      p {
        background-color: #67b68c;
        height: 36px;
        padding: 10px 30px;
        color: white;
        text-align: center;
        box-sizing: border-box;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          width: 0;
          height: 0;
          border-top: 7px solid #67b68c;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          transform: translateX(-50%);
        }
      }

      &.india {
        top: 330px;
        left: 915px;
      }

      &.middle {
        top: 260px;
        left: 790px;
      }

      &.africa {
        top: 520px;
        left: 780px;
      }

      &.southAmerica {
        top: 500px;
        left: 300px;
      }
    }
  }

  .container {
    .inARow();
    margin-top: 50px;

    a {
      .whiteButton();
    }
  }
}

:local(.theytrusted) {
  margin-bottom: 100px;

  .title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 4.4px;
  }

  .orgs {
    .inARow();
    margin-bottom: 100px;

    > * {
      margin: 0 40px;
    }
  }

  .subtext {
    font-size: 28px;
    text-align: center;
    margin-top: 75px;
  }

  .subinput {
    .inARow();

    input {
      height: 80px;
      width: 690px;
      padding: 10px 50px;
      box-sizing: border-box;
      border: 2px solid #707070;
      border-radius: 10px;
      background-color: #ffffff;
      margin-right: 20px;
      font-size: 20px;
    }

    button {
      border-radius: 10px;
      border: 2px solid #707070;
      background-color: #fb8e4f;
      height: 80px;
      padding: 10px 100px;
      font-size: 20px;
      text-transform: uppercase;
      color: white;
      cursor: pointer;
    }
  }
}
