:local(.container) {
  text-align: center;
  padding: 25px;

  > .title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  > .tableContainer {
    overflow-y: auto;
    height: 525px;
  }

  > .tip {
    color: #707070;
    font-size: 16px;
  }

  > .divider {
    width: 71px;
    height: 0;
    border: 3px solid #dfd8c8;
    margin: 10px auto;
  }
}

:local(.table) {
  .text {
    color: #707070;
    font-size: 14px;

    &.pending {
      color: #fb8e4f;
    }

    &.confirmed {
      color: #3a9c08;
    }
  }

  .value {
    .text;
    font-weight: bold;
  }

  .moreWidth {
    width: 50%;
  }

  thead {
    th:first-child {
      width: 30%;
    }

    th {
      padding: 25px 20px;
      padding-top: 0;
      background-color: white;
    }
  }

  tbody {
    tr {
      &:first-child {
        td {
          padding: 20px 20px 0 20px;
        }
      }

      td {
        padding: 45px 20px 0 20px;
        white-space: nowrap;
      }
    }
  }
}
